@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: rgb(60, 148, 139);
  height: 80px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: medium;
  width: 60%;
}

.nav-item {
  padding: 10px 5px 10px 5px;
}

.nav-item:hover {
  background-color: rgb(20, 73, 68);
  color: white;
  cursor: pointer;
}

/* footer */
.footer {
  width: 100%;
  height: 80px;
  background-color: rgb(60, 148, 139);
  padding: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-row-gap: 30px;
  list-style: none;
  align-items: center;
}

.show-item {
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  width: 250px;
  transform: translateZ(-40px);
  transform-style: preserve-3d;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.4s cubic-bezier(0.6, 0.84, 0.44, 1);
}

.show-item:hover {
  transform: translateZ(0);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.show-item img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

figcaption {
  padding: 10px 10px 20px 10px;
}

figure {
  border: 5px solid white;
}
